body {
  padding-top: 5px;
}

body.ng-scope {
  background: none transparent;
}

.container {
  width: 95%;
}

.row {
    margin-right: 15px;
    margin-left: 15px;
}

.ng-scope {
  margin-top: 5px;
}

.clear {
  clear: both;
  margin: 3px 0;
}

.tab-content .lead {
  margin-top: 20px;
}

.result-table {
  margin: 0;
  padding: 10px;
  width: 100%;
  border-collapse: collapse;
  height: 67px;
  /*background-color: #f5f5f5;*/
}

.result-table td {
  padding: 8px;
}

.result-table>tbody>tr>td:first-child {
  width: 25%;
  max-width: 300px;
  text-align: right;
}

.result-table .ng-scope {
  float: left;
  width: 95%;
}

.total-votes {
  /*margin-top: 44px;*/
  height: 30px;
  text-align: center;
}

.vote-label {
  min-width: 150px;
}

.vote-show-bar {
  display: inline-block;
  height: 26px;
  /* background-color: #b1d8f1; */
  text-align: left;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 2px 6px;
  background-image: linear-gradient(to right, #fff , #b1d8f1);
}

.navbar-inverse {
  background-color: #d30309;
  border-color: #d30309;
}

.navbar-inverse .navbar-brand {
  color: #e8e8e8;
}


.btn-primary {
  color: #fff;
  /* background-color: #901624; */
  border-color: #aaa;
  min-width: 120px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #fff;
  background-color: #6d6666;
  border-color: #285e8e;
}

.btn-default {
  border-color: #d30309;
  margin-right: 10px;
}

.page-header {
  /*display:none;*/
  margin: 20px 0 16px;
}

.page-header-poll {
  margin: 20px 0;
}

.well-lg {
  /* text-align: center; */
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;

  padding: 5px;
  margin: 6px;
  list-style: none;
  /* border: 1px solid silver; */
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
}


.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.question {
  padding: 5px 10px;
  margin: 5px;
  font-weight: bold;
  color: #555;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 38px;
}

.ng-view {
  margin-top: 20px;
}

h1,
.h1 {
  font-size: 28px;
}


.poll {
  min-width: 180px;
  /* max-width: 250px; */
  /* width: 50%; */
  min-height: 20px;
  padding-left: 0px;
  margin-top: 10px !important;
  margin-bottom: 10px;
  vertical-align: middle;
  text-align: center;

}

.poll-vote {
  /*float: left;*/
  clear: both;
}

.col-xs-6 {
  width: 80%;
}

.current-check {
  margin-left: 20px !important;
  width: 25px;
  height: 25px;
}
