<div ng-hide="poll.userVoted">
  <div class="well well-lg flex-container wrap">
		<div ng-repeat="choice in poll.choices" class="radio poll flex-item">
			<button type="submit" name="choice" ng-model="poll.userVote" class="btn btn-primary" ng-click="vote(choice._id)"> {{choice.text}} </button>
		</div>
  </div>
  <div class="well well-lg">
    <h3 class="question">{{poll.question}}</h3>
  </div>
</div>
<!-- Poll Results -->
<div class="clear"></div>

<!-- <div ng-show="poll.userVoted">

	<div class="total-votes">
		<h4 class="question well">{{poll.totalVotes}} votes counted.
			<span ng-show="poll.userChoice">You voted for <strong>{{poll.userChoice.text}}</strong>.</span>
		</h4>
	</div>
</div> -->
	<!-- <div class="result-table">
		<div ng-repeat="choice in poll.choices">
				<div class="vote-show-bar"style="width: {{choice.votes.length/poll.totalVotes*105}}%; min-width:55px !important;">
				{{choice.text}}:&nbsp;{{choice.votes.length}}
				</div>
		</div>
		 <div class="your-vote vote-show-bar">Yours: {{poll.userChoice.text}}</div>
	</div> -->
