<div class="page-header-poll">
	<!-- <h1>View Poll</h1> -->
</div>
<div class="well well-lg">
	<!-- <strong>Question</strong><br> -->
	<h4 class="question">{{poll.question}}</h4>
</div>

<!-- <div ng-hide="poll.userVoted"> -->
<div ng-hide="poll.userVoted">
	<p class="lead">Please select one of the following options:</p>

	<form role="form" ng-submit="vote()">
		<div ng-repeat="choice in poll.choices" class="radio">
			<label>
				<input type="radio" name="choice" ng-model="poll.userVote" value="{{choice._id}}">
				{{choice.text}}
			</label>
		</div>

		<div class="row">
			<!-- <div class="col-xs-6">
				<a href="#/polls" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Back to Poll List</a>
			</div> -->
			<div class="col-xs-6">
				<button class="btn btn-primary pull-right" type="submit">Vote &raquo;</button>
			</div>
		</div>
	</form>
</div>
		<p><hr></p>

<!-- <div ng-show="poll.userVoted">
	<table class="result-table">
		<tr ng-repeat="choice in poll.choices">
			<td>{{choice.text}}</td>
			<td>
				<table style="background-color: lightblue; width: {{choice.votes.length/poll.totalVotes*250}}%; text-align: right">
					<tr><td>{{choice.votes.length}}</td></tr>
				</table>
			</td>
		</tr>
	</table>

	<p>
		<em>
			{{poll.totalVotes}} votes counted so far.
			<span ng-show="poll.userChoice">You voted for <strong>{{poll.userChoice.text}}</strong>.</span>
		</em>
	</p>

	<p><hr></p>

	 <p><a href="#/polls" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Back to Poll List</a></p>

</div> -->
<!-- Poll Results -->
<div class="clear"></div>
<div ng-show="poll.userVoted">
	<div class="total-votes">
		<h4 class="question well">{{poll.totalVotes}} votes counted.
			<span ng-show="poll.userChoice">You voted for <strong>{{poll.userChoice.text}}</strong>.</span>
		</h4>
	</div>
</div>
	<div class="result-table">
		<div ng-repeat="choice in poll.choices">
        <label for="vote-show-bar" class="vote-label">{{choice.text}} : </label><div class="vote-show-bar"style="width: {{choice.votes.length/poll.totalVotes*90}}%;">{{choice.votes.length}}</div>
		</div>
		<!-- <div class="your-vote vote-show-bar">Yours: {{poll.userChoice.text}}</div> -->
	</div>
	<div class="clear"><br><br></div>
	 <p><a href="#/polls" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Back to Poll List</a></p>
