<div class="page-header">
	<h1>Update A Poll</h1>
</div>

<form role="form" ng-submit="update()">
	<div class="form-group">
		<label for="pollQuestion">Question</label>
		<input type="text" ng-model="poll.question" class="form-control" id="pollQuestion" placeholder="Enter poll question">
	</div>

	<div class="form-group">
		<label>Choices</label>
		<div ng-repeat="choice in poll.choices">
			<input type="text" ng-model="choice.text" class="form-control" placeholder="Enter choice {{$index+1}} text"><br>
		</div>
	</div>

	 <div class="form-group">
      <label for="pollQuestion">Set as Current Poll</label>
			<input type="checkbox" ng-model="poll.current" name="currentPoll" class="current-check">
	</div>
	<div class="row">
		<div class="col-xs-6">
			<button class="btn btn-primary pull-right" type="submit">Update Poll &raquo;</button>
		</div>
    <div class="col-xs-6">
      <a href="#/polls" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Back to Poll List</a>
    </div>
	</div>

	<p>&nbsp;</p>
</form>
